---
import ContentPageHillsBackground from "../components/ContentPageHillsBackground.astro";
---

<div class="background-preview">
  <ContentPageHillsBackground />
</div>

<style>
  .background-preview {
    min-height: 16000px;
    overflow: hidden;
    position: relative;
  }
</style>
