<header class="site-header">
  <a href="/" class="brand">Oiva</a>

  <nav>
    <a href="/case-study/intro/">Case Study</a>
    <a href="/getting-started/">Getting Started</a>
    <a href="/team/">Team</a>
  </nav>
</header>
