<div class="home-hero-atlas-background" aria-hidden="true">
  <svg
    class="home-hero-atlas-background__sheet"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1600 760"
    preserveAspectRatio="none"
    focusable="false"
  >
    <defs>
      <filter id="home-atlas-edge" x="-4%" y="-8%" width="108%" height="116%">
        <feTurbulence
          type="fractalNoise"
          baseFrequency="0.01 0.03"
          numOctaves="3"
          seed="19"
          result="edgeNoise"
        />
        <feDisplacementMap in="SourceGraphic" in2="edgeNoise" scale="8" xChannelSelector="R" yChannelSelector="G" />
        <feGaussianBlur stdDeviation="0.45" />
      </filter>
    </defs>

    <g class="home-atlas-sky" filter="url(#home-atlas-edge)">
      <path
        class="home-sky home-sky-one"
        d="M-120 118 C58 92 190 68 342 124 C514 188 682 238 878 178 C1064 120 1196 52 1408 92 C1536 116 1624 146 1720 120 L1720 300 C1530 322 1368 278 1202 310 C1006 348 844 424 640 374 C430 322 286 270 94 318 C2 340 -66 366 -120 348 Z"
      />
      <path
        class="home-sky home-sky-two"
        d="M-120 252 C32 180 214 214 380 270 C552 328 700 308 850 244 C1036 164 1194 190 1350 266 C1498 338 1612 328 1720 284 L1720 462 C1540 438 1388 426 1234 476 C1048 536 918 590 702 520 C514 460 374 390 178 420 C42 442 -54 498 -120 474 Z"
      />
      <path
        class="home-sky home-sky-three"
        d="M-120 330 C58 274 234 286 430 350 C638 418 790 410 964 348 C1140 286 1292 294 1458 362 C1566 406 1652 414 1720 386 L1720 500 C1540 486 1396 464 1214 508 C1028 554 848 576 650 514 C444 448 268 424 84 466 C-8 486 -74 506 -120 498 Z"
      />
    </g>

    <g class="home-atlas-fields" filter="url(#home-atlas-edge)">
      <path
        class="home-hill home-hill-mist"
        d="M-120 344 C18 292 180 250 354 318 C522 384 640 474 834 446 C1018 420 1132 300 1332 304 C1502 308 1594 388 1720 368 L1720 900 L-120 900 Z"
      />
      <path
        class="home-hill home-hill-paper"
        d="M-120 436 C56 330 186 390 350 466 C496 534 636 560 790 482 C956 398 1088 360 1262 466 C1428 566 1540 550 1720 506 L1720 900 L-120 900 Z"
      />
      <path
        class="home-hill home-hill-pale"
        d="M-120 488 C44 432 212 436 386 552 C558 666 700 690 850 588 C1022 472 1168 482 1324 612 C1460 724 1602 690 1720 604 L1720 900 L-120 900 Z"
      />
      <path
        class="home-hill home-hill-gold"
        d="M-120 588 C22 534 166 528 326 592 C494 660 654 734 840 704 C1016 676 1132 594 1312 612 C1498 630 1608 708 1720 722 L1720 900 L-120 900 Z"
      />
      <path
        class="home-hill home-hill-sage"
        d="M-120 634 C78 554 250 594 428 696 C604 798 778 790 946 668 C1130 534 1288 626 1452 716 C1552 752 1644 754 1720 728 L1720 900 L-120 900 Z"
      />
      <path
        class="home-hill home-hill-rust"
        d="M-120 708 C34 666 184 676 350 730 C526 786 704 790 876 724 C1050 656 1218 680 1392 736 C1522 778 1640 762 1720 724 L1720 900 L-120 900 Z"
      />
      <path
        class="home-hill home-hill-ground-one"
        d="M-120 600 C20 526 174 546 330 638 C490 734 662 728 820 638 C1000 536 1158 576 1328 682 C1472 772 1602 746 1720 678 L1720 900 L-120 900 Z"
      />
      <path
        class="home-hill home-hill-ground-two"
        d="M-120 684 C64 632 226 650 392 724 C558 798 730 794 900 724 C1088 646 1264 678 1442 740 C1552 778 1642 770 1720 734 L1720 900 L-120 900 Z"
      />
    </g>
  </svg>
  <span class="home-hero-atlas-background__fiber"></span>
</div>

<style>
  .home-hero-atlas-background {
    inset: 0;
    -webkit-mask-image: linear-gradient(to top, black 0%, black 58%, transparent 100%);
    mask-image: linear-gradient(to top, black 0%, black 58%, transparent 100%);
    opacity: 0.78;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  .home-hero-atlas-background__sheet {
    display: block;
    height: 100%;
    width: 100%;
  }

  .home-atlas-fields {
    transform: translateY(-10%);
    transform-origin: center bottom;
  }

  .home-atlas-sky {
    transform: translateY(-24%);
    transform-origin: center top;
  }

  .home-sky {
    mix-blend-mode: normal;
  }

  .home-sky-one {
    fill: #80b8cf;
    opacity: 0.3;
  }

  .home-sky-two {
    fill: #9cced8;
    opacity: 0.26;
  }

  .home-sky-three {
    fill: #6fb3c4;
    opacity: 0.2;
  }

  .home-hill {
    mix-blend-mode: normal;
  }

  .home-hill-mist {
    fill: #7fb7ad;
    opacity: 0.32;
  }

  .home-hill-paper {
    fill: #9fbd8a;
    opacity: 0.3;
  }

  .home-hill-pale {
    fill: #73b8bc;
    opacity: 0.28;
  }

  .home-hill-gold {
    fill: #c4ae54;
    opacity: 0.08;
  }

  .home-hill-sage {
    fill: #6fa385;
    opacity: 0.28;
  }

  .home-hill-rust {
    fill: #b59aa8;
    opacity: 0.06;
  }

  .home-hill-ground-one {
    fill: #7ba98f;
    opacity: 0.28;
  }

  .home-hill-ground-two {
    fill: #6faeb2;
    opacity: 0.22;
  }

  .home-hero-atlas-background__fiber {
    background-image:
      radial-gradient(circle at 18% 24%, color-mix(in srgb, var(--color-text-subtle) 14%, transparent) 0 0.55px, transparent 0.75px),
      radial-gradient(circle at 76% 58%, color-mix(in srgb, var(--color-bg-wash) 70%, transparent) 0 0.7px, transparent 1px);
    background-size: 19px 23px, 29px 31px;
    inset: 0;
    opacity: 0.05;
    position: absolute;
  }

  :global([data-theme="dark"]) .home-hero-atlas-background {
    opacity: 0.56;
  }

  :global([data-theme="dark"]) .home-hill-mist {
    fill: #174138;
    opacity: 0.36;
  }

  :global([data-theme="dark"]) .home-sky-one {
    fill: #164052;
    opacity: 0.32;
  }

  :global([data-theme="dark"]) .home-sky-two {
    fill: #173f46;
    opacity: 0.28;
  }

  :global([data-theme="dark"]) .home-sky-three {
    fill: #123447;
    opacity: 0.22;
  }

  :global([data-theme="dark"]) .home-hill-paper {
    fill: #2f3e20;
    opacity: 0.3;
  }

  :global([data-theme="dark"]) .home-hill-pale {
    fill: #173f46;
    opacity: 0.28;
  }

  :global([data-theme="dark"]) .home-hill-gold {
    fill: #4a4214;
    opacity: 0.1;
  }

  :global([data-theme="dark"]) .home-hill-sage {
    fill: #1d3c2e;
    opacity: 0.26;
  }

  :global([data-theme="dark"]) .home-hill-rust {
    fill: #352033;
    opacity: 0.08;
  }

  :global([data-theme="dark"]) .home-hill-ground-one {
    fill: #1d3c2e;
    opacity: 0.24;
  }

  :global([data-theme="dark"]) .home-hill-ground-two {
    fill: #173f46;
    opacity: 0.2;
  }

  :global([data-theme="dark"]) .home-hero-atlas-background__fiber {
    opacity: 0.035;
  }

  @media (max-width: 920px) {
    .home-hero-atlas-background {
      -webkit-mask-image: linear-gradient(to top, black 0%, black 56%, transparent 100%);
      mask-image: linear-gradient(to top, black 0%, black 56%, transparent 100%);
      opacity: 0.68;
    }

    .home-atlas-fields {
      transform: translate(-12%, -16%) scale(1.28, 1.12);
    }

    .home-atlas-sky {
      transform: translate(-8%, -30%) scale(1.18, 1.06);
    }
  }

  @media (max-width: 620px) {
    .home-hero-atlas-background {
      -webkit-mask-image: linear-gradient(to top, black 0%, black 58%, transparent 96%);
      mask-image: linear-gradient(to top, black 0%, black 58%, transparent 96%);
      opacity: 0.62;
    }

    .home-atlas-fields {
      transform: translate(-28%, -22%) scale(1.62, 1.16);
    }

    .home-atlas-sky {
      transform: translate(-20%, -34%) scale(1.38, 1.08);
    }
  }
</style>
