---
import Header from "../components/Header.astro";
import "../styles/global.css";

const { title = "Oiva" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
